<div style="padding: 2.5em 0px 1em 15px;">
        <div class="row segundaseccion">
          <div class="overlay">
            <div class="row" style="padding-left: 1em; padding-top: 1em;">
                  <div class="col-12" >
                    <span class="title" (click)="activarModPuntos()">
                       {{arreglo.titulo}}</span>
                  </div>
                  <br>
                  <div style="margin-top: 20px;"></div>
                  <div class="col-8">
                    <img src="/assets/img/Group.png" (click)="onShowDescription('Saldo Inicial')" alt="">
                    <span class="label-Fomula">  Saldo Inicial</span>
                  </div>
                  <div class="col-4 cardPorPrincipal" style="text-align: right;">
                    <span  class="label-Fomula"> {{arreglo.saldo_inicial}}</span>
                  </div>
                  <br><br>
                  <div class="col-8" style="margin-top: 10px;">
                    <img src="/assets/img/Group.png" alt="" (click)="onShowDescription('Puntos Abonados')">
                    <span class="label-Fomula"> Puntos Abonados</span>
                  </div>
                  <div class="col-4 cardPorcentajes" style="text-align: right; margin-top: 10px;">
                    <span  class="label-Fomula">{{arreglo.puntos_abonados}} </span>
                  </div>
                  <br><br>
                  <div class="col-8" style="margin-top: 10px;">
                    <img src="/assets/img/Group.png" alt="" (click)="onShowDescription('Punto Cangeados')">
                    <span class="label-Fomula"> Punto Cangeados</span>
                  </div>
                  <div class="col-4 cardPorcentajes " style="text-align: right; margin-top: 10px;">
                    <span  class="label-Fomula">{{arreglo.puntos_cangeados}} </span>
                  </div>
                  <br><br>
                  <div style="margin-top: 40px;"></div>
                  <hr>
                  <div style="margin-top: 20px;"></div>
                  <div class="col-12" >                    
                    <span class="title" (click)="activarModPuntos()">
                      {{arreglo.titulo2}}</span>
                  </div>
                  <br>
                  <div style="margin-top: 20px;"></div>
                  <div *ngFor="let item of arreglo.movimientos; let indiceCom = index;">
                    <div class="row">
                      <div class="col-12">
                        <img src="/assets/img/Group.png"  (click)="onShowDescription(item.nombre)" alt="">
                        <span class="label-Fomula" style="padding-left: 0.2em;">{{item.nombre}}</span>
                      </div>
                      <div class="col-5">
                        <span class="label-FomulaDet">Fecha: {{item.nombre}}</span>
                      </div>
                      <div class="col-3">
                        <span class="label-FomulaDet">Puntos abonados</span>
                      </div>
                      <div class="col-4 cardPorcentajes" style="text-align: right;">
                        <span class="label-Fomula">{{item.valor}} </span>
                      </div>
                    </div>
                    <br>
                  </div>
                <div style="margin-top: 20px;"></div>
                <div class="col-12 rightIncentivo">
                <article (click)="activarRetos()" style="margin-right: 10px;margin-top: -12px;">Regresar
                </article>
                </div>
                <div style="margin-top: 12px;"></div>
    
            </div>
          </div>
        </div>

</div>

<div class="col-12 retos " *ngIf="modalPuntos"></div> 
<div class="col-12 retosPrincipal" *ngIf="modalPuntos">
    <div style="margin-top: 1px; margin-left: 324px;">
      <button (click)="activarModPuntos()" class="booton-inicio"><span>X</span>
      </button>
    </div>
    <div class="col-12 text-center">
          <img src="/assets/img/polygon.png" style="width: 15%;" alt="" >
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8" style="margin-top: 20px; padding-left: 1em; color: #006699; text-align: center;">
            <span class="title" >Has excedido la cantidad
              de puntos disponibles</span>
      </div>
    </div>  
    <div style="margin-top: 20px;" ></div>
</div>
