
<!-- Ayuda para la notificación-->  
<div class="container cuerpo_post">
        <div class="row mb-5">
         <p>Para enviar la notificación, se deberan llenar los campos obligatorios de titulo y texto de notificación.</p>
         <p>Una vez llenado se dará clic al botón enviar, y posteriormente la notificación será enviada al colaborador seleccionado.</p>
         <p>Los campos predeterminados que usted puede utilizar para enviar una notificación son los siguientes:
            nómina, nombre, nombre_completo, me_impulsa, empresa, udn, ubicacion, puesto, categoria, direccion y subdirecion. 
         </p>
         <p>El formato para utilizar los campos predeterminados es entre doble corchete, por ejemplo: {{ campo }}</p>
        </div>
        <br>
        <div class="col d-grid gap-5 d-md-flex justify-content-md-end">
            <button class="button mt-2 boton" type="button" (click)="cerrar()">&nbsp;&nbsp;Cerrar</button>
        </div>
</div>