.footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
  
.footer a {
    display: flex;
    align-items: center;
}

.colorOtros {
    font-size: calc(0.5rem + 1.1vw);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(149deg) brightness(107%) contrast(102%);
  }