.footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
  padding-bottom: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-color: #ffffff;
  padding-left: 10px;
  padding-top: 0.9em;
  border-top-left-radius: 3em 2em;
  border-top-right-radius: 3em 2em;
}

.footer a {
  display: flex;
  align-items: center;
}


.filter-icon span {
  font-size: calc(0.5rem + 1.1vw);
  filter: invert(77%) sepia(16%) saturate(154%) hue-rotate(193deg) brightness(82%) contrast(83%);
}

.filter-active {
  font-size: calc(0.5rem + 1.1vw);
  filter: invert(10%) sepia(68%) saturate(6995%) hue-rotate(324deg) brightness(98%) contrast(103%);
}