<div style="padding-bottom: var(--bs-gutter-x, 9rem);">
  <div class="col-md-12">
    <div class="bg-picture" [style.background-image]="'url('+iconPortada+')'">
      <span class="bg-picture-overlay"></span><!-- overlay -->
      <div class="box-layout meta bottom">
        <div class="col-12 d-flex justify-content-center">

          <fotoperfil-template [iconoPerfil]="iconoPerfil"></fotoperfil-template>
        </div>
      </div>
      <div class="box-layout meta bottom" style="    bottom: -0.7em;">
        <button *ngIf="seccionesPermitidas.portada" type="button" class="uploadPortada" (click)="openFilePortada()">
          <svg xmlns="http://www.w3.org/2000/svg" style="    margin-left: -0.09em;margin-bottom: 0.1em;" width="20"
            height="20" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
            <path
              d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
            <path
              d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
          </svg>
          <form [formGroup]="uploadForm">
            <input class="portada" type="file" style="display:none" (change)="readPortada($event)" accept="image/*">
          </form>

        </button>
      </div>
    </div>
  </div>
  <div sytle="background-color: white;">
    <div class="row" style="width: 2.5em;margin: auto;height: 2em;">
      <button *ngIf="seccionesPermitidas.foto" type="button" class="uploadPerfil" (click)="openFilePerfil()">
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: -0.6em;margin-bottom: 0.1em;" width="20" height="20"
          fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
          <path
            d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
          <path
            d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
        </svg>
        <form [formGroup]="uploadForm">
          <input class="filePerfil" type="file" name="profile" style="display:none" (change)="readPerfil($event)"
            accept="image/*">
        </form>
      </button>
    </div>
  </div>
  <div class="row m-1 datosPerfil">
    <div class="col-12 d-flex justify-content-center">
      <span [style.color]="'#CA005D'" class="username">{{username}}</span>
      <img alt="" *ngIf="verificado" width="20" height="20" fill="currentColor" src="/assets/img/palomita.svg" />
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span class="puesto">{{puesto}}</span>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span class="nomina">Nómina: {{nomina}}</span>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <span class="ubicacion">{{ubicacion}}</span>
    </div>
  </div>
  <div class="row m-1 meimpulsa">
    <div class="col-10" style="margin:auto">
      <span *ngIf="!editImpulsa">{{meimpulsa}}</span>
      <input *ngIf="editImpulsa" type="text" [(ngModel)]="meimpulsa" class="form-control" id="meimpulsai"
        placeholder="">
    </div>
    <div class="col-2" style="margin:auto">
      <button *ngIf="seccionesPermitidas.perfil_me_impulsa" style="background-color: transparent;border: none;"
        (click)="activeImpulsa()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
          viewBox="0 0 16 16">
          <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
          <path fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
        </svg>
      </button>
    </div>
  </div>
  <div style="margin: 1em auto auto auto !important;">
    <desempenio-template *ngIf="seccionesPermitidas.categoria_desempeno"></desempenio-template>
    <colaboradores-template *ngIf="seccionesPermitidas.mi_equipo && colaborador && pleca"></colaboradores-template>
  </div>
</div>