<div *ngIf="!displayProgressSpinner">
    <header-template *ngIf="showComponents" [iconoPerfil]="iconoPerfil" [nombre]="nombre" [colorperfil]="colorperfil"
        [colorletra]="colorletra" [meimpulsa]="meimpulsa"></header-template>    

    <div *ngIf="!componenteGrafica" style="background-color: #fff;margin-top: 1em; height: 2.5em;">
        <select matNativeControl requerid style="border: white;margin-top: 0.5em;" [(ngModel)]="filtroIncentivo">
            <option value="0">Periodo a consultar</option>
        </select>
    </div>
    <div *ngIf="arrayColaboradores.length>1">
        <div *ngFor="let item of arrayColaboradores; let id = index;">
            <div class="perfilLabel">
                <a class="bolsaL"> Perfil {{item.nombreColaborador}} </a>
            </div>
            <div *ngIf="id<arrayColaboradores.length-1 && !componenteGrafica" class="miDiaLabel">
                <a (click)="regresarColaboradores(item)" class="bolsaL"> &#60; Bolsa de Liderazgo </a>
            </div>
        </div>
    </div>

    <div *ngIf="divMiDia && arrayCMiDia.equipo.length>0 && !componenteGrafica" class="miDiaLabel">
        <a (click)="abrirColaboradores()" class="bolsaL"> Ver Bolsa de Liderazgo &#62; </a>
    </div>

    <div *ngIf="divColaboradores || componenteGrafica" class="miDiaLabel">
        <a (click)="abrirMiDia()" class="bolsaL"> &#60; Inicio Mi Incentivo </a>
    </div>

    <div *ngIf="divMiDia && componentesMiDia && !componenteGrafica" class="container"
        style="padding-bottom: var(--bs-gutter-x, 9rem);">
        <cardincentivo-template [arreglo]="arreglo" [total]="total" [plan]="plan"></cardincentivo-template>
    </div>

    <div *ngIf="divColaboradores && arrayCMiDia && !componenteGrafica" class="container" style="padding-bottom: var(--bs-gutter-x, 9rem);">
        <miincentivo-colaborades [array]="arrayCMiDia"></miincentivo-colaborades>
    </div>

    <div class="container" *ngIf="componenteGrafica" style="padding-bottom: var(--bs-gutter-x, 9rem);">
        <cardgraficas-template [datosGrafica] = 'datosGrafica'></cardgraficas-template>
    </div> 


</div>
<div *ngIf="displayProgressSpinner" class="d-flex justify-content-center" style="padding-top: 50%;background-color: #f3f3f2;">
    <img src="/assets/img/spinner.gif" alt="">
  </div>