<div *ngIf="!displayProgressSpinner">
  <header-template *ngIf="showComponents" [iconoPerfil]="iconoPerfil" [fechaHora]="fechaHora" [nombre]="nombre"
    [colorperfil]="colorperfil" [colorletra]="colorletra" [meimpulsa]="meimpulsa" [banner]="banner"></header-template>
  <div *ngIf="showComponents" class="container" style="padding-bottom: var(--bs-gutter-x, 9rem);">
    <div *ngIf="seccionesPermitidas.acceso_simulador" style="padding: 1.5em 0.5em 1em 0.5em;">
      <a class="cmidia" href="midia">
        <div class="card" [ngStyle]="{'box-shadow':boxshadow}">
          <div class="card-img-overlay">
            <div class="row" style="padding-left: 1em; padding-top: 1em;">
              <div class="col-4">
                <div class="row">
                  <span class="cardTitle">Mi Día</span>
                  <p class="card-micompromiso">{{micompromiso | currency:"$":"symbol"}}</p>
                </div>
                <div class="row">
                  <span class="label-micompromiso">Mi compromiso</span>
                </div>
                <div class="row"></div>
              </div>
              <div class="col-8">
                <div class="row" style="padding-top: 1.5em;">
                  <div style="--bs-gutter-x: 0;display: flex; width: 95%;">
                    <span class="card-incentivo centerSymbol" [style.color]="colorletra">$</span>
                    <span class="card-incentivo centerIncentivo" [style.color]="colorletra">{{incentivo | currency:'':''}}</span>
                  </div>
                </div>
                <div class="row">
                  <span class="label labelHoy">Hoy</span>
                </div>
                <div class="row" style="padding-bottom: 0.5em;">
                  <div class="stepsClass" style="padding-top: 0.5em;">
                    <div *ngFor="let step of steps" [style.background-color]="step.class" class="circle">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 rightIncentivo" [style.color]="colorletra">
                    Ver más
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div *ngIf="seccionesPermitidas.banner" style="padding: 1.5em 0.5em 1em 0.5em;">

      <ngb-carousel id="carouselPost">
        <ng-template ngbSlide *ngFor="let post of posts">
          <a href="variables">
            <img alt="" class="imgPost" src="{{post.miniatura_banner}}" />
          </a>
        </ng-template>
      </ngb-carousel>
    </div>


    <div *ngIf="seccionesPermitidas.favoritos" class="container" style="padding: 1.5em 1.5em;">
      <div class="row">
        <div class="col-md-12 py-3 cardFavs">
          <span class="labelFav">Favoritos</span>
          <ngb-carousel *ngIf="favoritosG.length > 0">
            <ng-template ngbSlide *ngFor="let fav of favoritosG">
              <a href="favoritos">
                <div class="carousel-caption">
                  <div class="favDiv" *ngFor="let favorito of fav">

                      <img alt="" src="{{favorito.miniatura}}" class="img-responsive">
                      
                  </div>
                </div>
              </a>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>

    <div *ngIf="rankingG.length > 0" class="container" style="padding: 1.5em 1.5em;">
      <div class="row">
        <div class="col-md-12 py-3 cardFavs">
          <span class="labelFav">Ranking</span>
          <ngb-carousel >
            <ng-template ngbSlide *ngFor="let rank of rankingG">
                <div class="carousel-caption">
                  <div class="favDiv" *ngFor="let rankFin of rank">
                    <div style="position: relative; left: 0; top: 0;">
                      <span class="numConten">{{rankFin.orden}}</span>   
                      <img alt="" src="{{rankFin.imarectangulo}}" class="numContenImag" >                
                      <img alt="" (click)="perfil(rankFin)" class="circleRank" *ngIf="rankFin.foto" src="{{rankFin.foto}}" [style.border]="'3px solid' + rankFin.color_categoria" />
                      <img alt="" (click)="perfil(rankFin)"  class="circleRank" *ngIf="!rankFin.foto" src="/assets/img/userFondo.png" [style.border]="'3px solid' + rankFin.color_categoria"/>
                    </div>

                    
                  </div>
                </div>
            </ng-template>
          </ngb-carousel>
          <a href="ranking">
          <div class="row">
            <div class="col-12 rightMas" [style.color]="colorletra">
              Ver más
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
<div *ngIf="displayProgressSpinner" class="d-flex justify-content-center" style="padding-top: 50%;background-color: #f3f3f2;">
  <img src="/assets/img/spinner.gif" alt="">
</div>