<div class="background-panel">
    <mat-tab-group style="background-color: #F3F3F2;">
        <mat-tab *ngIf="seccionesPermitidas.planes" label="Mis Planes" style="background-color: #F3F3F2;">
            <div style="height: calc(100vh - 14em);">
                <app-post *ngFor="let plan of planes" [data]="plan"></app-post>
            </div>

        </mat-tab>
        <mat-tab *ngIf="seccionesPermitidas.campanas" label="Mis Campañas" style="font-size: 20px;">
            <div style="height: calc(100vh - 14em);">
                <app-post *ngFor="let campania of campanias" [data]="campania"></app-post>
            </div>
        </mat-tab>
        <mat-tab *ngIf="seccionesPermitidas.podcast" label="Podcast" style="font-size: 20px;">
            <div style="height: calc(100vh - 14em);">
                <app-post *ngFor="let podcast of podcasts" [data]="podcast"></app-post>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
