<div *ngIf="showComponents" class="scrooll-design background-panel">

  <div style="padding: 1.5em 19px 1em 5px;">
    <div class="segundaseccion" [ngStyle]="{'box-shadow':boxshadow}" [style.height]="heightTotal +'em !important'">
      <div class="overlay">
        <div class="row" style="padding-left: 1em; padding-top: 1em;">
          <div class="col-12 text-center">
            <span class="title">Incentivo Total</span>
          </div>
          <div class="col-12 text-center">
            <article class="label-micompromiso">Última actualización: {{total.fecha|fecha: 'hora'}}
            </article>
          </div>
          <div class="col-4"></div>
          <div class="col-8" style="margin-top: 13px;">
            <div style="--bs-gutter-x: 0;display: flex; width: 95%;">
              <span class="card-incentivo centerSymbol">$</span>
              <span class="card-incentivo centerIncentivo">{{total.incentivo | currency:'':''}}</span>
            </div>
          </div>
          <div class="col-4" style="margin-top: -13px">
            <div>
              <p class="card-micompromiso" >{{total.compromiso | currency:"$":"symbol"}}</p>
            </div>
            <div style="margin-top: -1px;">
              <span class="label-micompromiso">Mi compromiso</span>
            </div>
          </div>

          <div class="col-8 text-center" style="margin-top: 8px;">
            <span class="label labelHoy">Hoy</span>
          </div>
          <div class="col-4"></div>
          <div class="col-8" style="padding-bottom: 0.5em; margin-top: -7px;">
            <div class="stepsClass" style="padding-top: 0.5em;">
              <div *ngFor="let step of total.steps" [style.background-color]="step.class" class="circle">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='variables' class="totales" *ngIf="variablesTot">
      <div class="card-img-overlay-Total">
        <div class="row" *ngFor="let itemPla of total.planes; let planes = index;">

          <div class="row" style="padding-left: 1em; padding-top: 1em;">
            <div class="col-8">
              <span class="label-Fomula">{{itemPla.nombre}}</span>
            </div>
            <div class="col-4 ">
              <span class="montosTotal" style="margin-left: 90px;">${{itemPla.monto}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 rightIncentivo">
        <article *ngIf="variablesTot" style="margin-right: 17px;" (click)="mostrarVarTot()">Ver menos
        </article>
      </div>
    </div>

  </div>
  <div style="padding: 1.5em 7px 1em 15px;">
    <div class="row segundaseccion">
      <div class="overlay">
        <div class="row" style="padding-left: 1em; padding-top: 1em;">
          <div class="col-12">
            <span class="title">Monto Plan</span>
          </div>
          <div class="col-4">
            <article class="label-micompromiso">Última actualización:
            </article>
          </div>
          <div class="col-8"></div>
          <div class="col-4" style="margin-top: -6px;">
            <article class="label-micompromiso">{{plan.fecha|fecha: 'hora'}}</article>
          </div>
          <div class="col-8">
            <div style="--bs-gutter-x: 0;display: flex; width: 95%;">
              <span class="card-incentivo centerSymbol">$</span>
              <span class="card-incentivo centerIncentivo">{{arregloIncent.total | currency:'':''}}</span>
            </div>
          </div>
          <div class="col-4"></div>
          <div class="col-8 text-center" style="margin-top: 8px;">
            <span class="label labelHoy">Hoy</span>
          </div>

          <div class="col-4" style="margin-top: -14px;">
            <div>
              <p class="card-micompromiso">{{0.00 | currency:"$":"symbol"}}</p>
            </div>
            <div >
              <span class="label-micompromiso">Mi compromiso</span>
            </div>
          </div>
          <div class="col-8" style="padding-bottom: 0.5em;">
            <div class="stepsClass" style="padding-top: 0.5em;">
              <div *ngFor="let step of plan.steps" [style.background-color]="step.class" class="circle">
              </div>
            </div>
          </div>
          <div class="col-12 rightIncentivo">
            <article *ngIf="!variablesPlan" (click)="mostrarVarPlan()" style="margin-right: 10px;margin-top: -12px;">Ver
              más
            </article>
          </div>

        </div>
      </div>
    </div>
    <div class="row" *ngFor="let itemVar of arregloIncent.incentivos; let indicevar = index;">
      <div class="row plan" *ngIf="variablesPlan" >
        <div class="overlayVariables">
          <div class="row" style="padding-left: 1em; padding-top: 1em;">
            <div class="col-1">
            </div>
            <div class="col-5">
              <span class="title">{{itemVar.vista.titulo}}</span>
            </div>
            <div class="col-4">
              <div style="--bs-gutter-x: 0;display: flex; width: 95%; ">
                <span class="incentivoVar centerSymbol">$</span>
                <span class="incentivoVar centerIncentivo">{{itemVar.vista.valor | currency:'':''}}</span>
              </div>
            </div>
            <div class="col-2" *ngIf="itemVar.vista.orden !== varibleCompPlan">
              <img alt="" style="width: 20px; 
                  margin-left: 24px;
                  margin-top: 1px;" (click)="activarAcordionPlan(itemVar)" src="/assets/img/scrollarrow.png" />
            </div>
            <div class="col-2" *ngIf="itemVar.vista.orden == varibleCompPlan">
              <img alt="" style="width: 20px; 
                margin-left: 24px;
                margin-top: 1px;" (click)="activarAcordionPlan(itemVar)" src="/assets/img/upscroll.png" />
            </div>
            <div (click)="activarPdf(itemVar)" class="col-1 cardPdf" style="background-size: 100% 100% !important;"
            [style.background]="'url('+itemVar.icono+') no-repeat scroll 0 0 transparent'">            
          </div>
          <div class="col-4">
            <div>
              <p class="card-micompromiso">{{0.00 | currency:"$":"symbol"}}</p>
            </div>
            <div style="margin-top: -6px;">
              <span class="label-micompromiso">Mi compromiso</span>
            </div>
          </div>
            <div class="col-7" style="padding-bottom: 0.5em;">
              <div class="text-center" style="margin-top: -6px;">
                <span class="label labelHoy">Hoy</span>
              </div>
              <div class="stepsClass" style="padding-top: 0.5em; margin-top: -10px; margin-left: -5px;">
                <div *ngFor="let step of itemVar.stpsVar" [style.background-color]="step.class" class="circle">
                </div>
              </div>
            </div>
            <div *ngIf="itemVar.vista.orden == varibleCompPlan">
              <br>
              <div class="col-12 formula"></div>
              <br>
              <div class="row" *ngFor="let itemCom of itemVar.componentes; let indiceCom = index;">
                <div class="col-8">
                  <span class="label-Fomula">{{itemCom.vista.titulo}}</span>
                </div>
                <div class="col-4 cardPorcentajes" style="text-align: right;">
                  <span class="label-Fomula" > <span *ngIf="itemCom.vista.tiposCampo.nombre !== 'Porcentaje'">{{itemCom.vista.tiposCampo.simbolo}}</span>{{itemCom.vista.valor}} <span *ngIf="itemCom.vista.tiposCampo.nombre == 'Porcentaje'">{{itemCom.vista.tiposCampo.simbolo}}</span></span>
                </div>
                <br><br>
              </div>
              <div class="col-12 text-center">
                <button class="button-grafica" (click)="avtivarGrafica(itemVar)">
                  <img alt="" style="width: 24px; margin-right: 10px;" src="/assets/img/graph.png" />
                  Ver gráfica de tendencia y proyección</button>
              </div>
            </div>
            <div class="col-12 rightIncentivo">
              <article *ngIf="variablesPlan" (click)="mostrarVarPlan()">Ver menos
              </article>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="row m-1 " *ngFor="let item of arreglo;let indice = index;">
    <div style="padding: 1.5em 3px 1em 10px;">
      <div class="row segundaseccion">
        <div class="overlay">
          <div class="row" style="padding-left: 1em; padding-top: 1em;">
            <div class="col-12">
              <span class="cardTitle">{{item.nombre}}</span>
            </div>
            <div class="col-4">
              <article class="label-micompromiso">Última actualización:
              </article>
            </div>
            <div class="col-8"></div>
            <div class="col-4">
              <article class="label-micompromiso">{{item.fecha|fecha: 'hora'}}</article>
            </div>
            <div class="col-8">
              <div style="--bs-gutter-x: 0;display: flex; width: 95%;">
                <span class="card-incentivo centerSymbol">$</span>
                <span class="card-incentivo centerIncentivo">{{item.incentivo | currency:'':''}}</span>
              </div>
            </div>
            <div class="col-4"></div>
            <div class="col-8 text-center" style="margin-top: 8px;">
              <span class="label labelHoy">Hoy</span>
            </div>

            <div class="col-4" style="margin-top: -14px;">
              <div>
                <p class="card-micompromiso">{{item.compromiso | currency:"$":"symbol"}}</p>
              </div>
              <div >
                <span class="label-micompromiso">Mi compromiso</span>
              </div>
            </div>
            <div class="col-8" style="padding-bottom: 0.5em;">
              <div class="stepsClass" style="padding-top: 0.5em;">
                <div *ngFor="let step of item.stps" [style.background-color]="step.class" class="circle">
                </div>
              </div>
            </div>
            <div class="col-12 rightIncentivo">
              <article *ngIf="item.idIncentiv !== varibleIncen" style="margin-right: 10px; margin-top: -12px;"
                (click)="mostrarVar(item)">Ver más
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let itemVar of item.variables; let indicevar = index;">
        <div class="row variables" *ngIf="itemVar.idVariable == varibleCampanias">
          <div class="overlayVariables">
            <div class="row" style="padding-left: 1em; padding-top: 1em;">
              <div class="col-1">
              </div>
              <div class="col-5">
                <span class="title">{{itemVar.nombre}}</span>
              </div>
              <div class="col-4">
                <div style="--bs-gutter-x: 0;display: flex; width: 95%; ">
                  <span class="incentivoVar centerSymbol">$</span>
                  <span class="incentivoVar centerIncentivo">{{itemVar.incentivo | currency:'':''}}</span>
                </div>
              </div>
              <div class="col-2" *ngIf="!acordion">
                <img alt="" style="width: 20px; 
                    margin-left: 24px;
                    margin-top: 1px;" (click)="activarAcordion(itemVar)" src="/assets/img/scrollarrow.png" />
              </div>
              <div class="col-2" *ngIf="acordion">
                <img alt="" style="width: 20px; 
                  margin-left: 24px;
                  margin-top: 1px;" (click)="activarAcordion(itemVar)" src="/assets/img/upscroll.png" />
              </div>

              <div (click)="activarPdf(itemVar)" class="col-1 cardPdf" style="background-size: 100% 100% !important;"
                [style.background]="'url('+itemVar.icono+') no-repeat scroll 0 0 transparent'">                
              </div>
              <div class="col-4">
                <div>
                  <p class="card-micompromiso">{{itemVar.compromiso | currency:"$":"symbol"}}</p>
                </div>
                <div style="margin-top: -6px;">
                  <span class="label-micompromiso">Mi compromiso</span>
                </div>
              </div>
              <div class="col-7" style="padding-bottom: 0.5em;">
                <div class="text-center" style="margin-top: -6px;">
                  <span class="label labelHoy">Hoy</span>
                </div>
                <div class="stepsClass" style="padding-top: 0.5em; margin-top: -10px; margin-left: -5px;">
                  <div *ngFor="let step of itemVar.stpsVar" [style.background-color]="step.class" class="circle">
                  </div>
                </div>
              </div>
              <div *ngIf="itemVar.idVariable == varibleCompo">
                <br>
                <div class="col-12 formula"></div>
                <br>
                <div class="row" *ngFor="let itemCom of itemVar.componentes; let indiceCom = index;">
                  <div class="col-8">
                    <span class="label-Fomula">{{itemCom.nombre}}</span>
                  </div>
                  <div class="col-4 cardPorcentajes">
                    <span class="label-Fomula" style="margin-left: 45px;">{{itemCom.valor}}<span
                        *ngIf="itemCom.pipe == 'currency'">%</span></span>
                  </div>
                  <br><br>
                </div>
                <div class="col-12 text-center">
                  <button class="button-grafica" >
                    <img alt="" style="width: 24px; margin-right: 10px;" src="/assets/img/graph.png" />
                    Ver gráfica de tendencia y proyección</button>
                </div>
              </div>
              <div class="col-12 rightIncentivo">
                <article *ngIf="variables" (click)="mostrarVar(item)">Ver menos
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-12 pdfStyle" style="margin-top: 8px;" *ngIf="actiPDF">
    <img alt="" style="width: 30px;
          margin-left: 92%;" (click)="activarPdf(undefined)" src="/assets/img/close.png" />
    <div id="outerContainer" style="margin-top: 3px;" >
      <div class="pdf-container">
        <pdf-viewer
          [src]="url"
          [rotation]="0"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="false"
          [zoom]="1"
          [zoom-scale]="'page-fit'"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          [show-borders]="false"
          style="width: 100%; height: 770px;"
        ></pdf-viewer>
      </div>
    </div>      
  </div>

</div>



