/* Para el header */

.toolbarFull {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #ffffff;
  background-position: right bottom;
  background-repeat: no-repeat;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
  border-bottom-left-radius: 3em 2em;
  border-bottom-right-radius: 3em 2em;
}

.toolbar{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 4.5em;
    align-items: center;
    background-color: #ffffff;
    background-position: right bottom;
    background-repeat: no-repeat;
    color: black;
    padding-right: 10px;
    padding-top: 17px;
}

.toolbar img {
  margin: 0 5px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.btnNotificacion {
  padding: 0 !important;
}

.urlClara{    
  margin-right: 0.8em;
}

.userClass{
  font-family: BreeBold;
}

.black {
  font-weight: 600;
}

.date {
  font-size: 12px;
}

.msg {
  font-size: 18px;
  margin-bottom: 0rem;
}

.saludo{
  font-family: BreeBold;
  font-size: 2.5em;
  margin-bottom: 0.1em;
}

.perfil{
  width: 3.3em;
  height: 3.3em;
  border-radius: 50% !important;
}

.classPerfil{
  width: 6em;
  padding-left: 1.5em;
}

.badge {
    padding: 0.5em 0.5em !important;
    font-size: 0.6em !important;

}

.start-100 {
  left: 80% !important;
}

.top-0 {
top: 2.5em !important;
}

/****************************/

/***Foto Perfil*************/

.opacity{
  filter: grayscale(100%);
}

.labelFotoCom{
  font-family: BreeRegular;
  font-size: 16px;
  color: #000000;
}

/*******************************/

.posicion{
  position: fixed;
  left: 0;
  top: auto;
  right: 0;
}

.box{
  background: #F3F3F2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  height: 33em;
}

.seccion1{
    padding-bottom:1px;
    padding-top: -2px;
    border-radius:2em;
    width: 103%;
    background-color: #fff !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

.seccion2{
    padding-bottom:1px;
    padding-top: -2px;
    border-radius:2em;
    margin-top: 4em;
    width: 103%;
    background-color: #fff !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }


  .labelTitle {
    color: black;
    font-size: 18px;
    font-family: BreeBold;
  }

.labelCal {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: BreeBold;
  }

  .labelCom {
    color: black;
    font-size: 14px;
    font-family: BreeBold;
  }

  .labelNum {
    color: black;
    font-family: BreeSerif-Regular;
    font-size: 50px;
    line-height: 20px;
    text-align: center;
  }

  .labelTot{
    position: absolute;
    font-family: BreeSerif-Regular;
    font-size: 15px;
    line-height: 20px;
    padding-left: 5px;
    color: #000000;
  }

  .labelInfo{
    font-family: BreeSerif-Regular;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    padding-top: 2em;
  }

  .progress-bar-container {
      display: flex;
  }

  .lower-limit {
      margin-right: 5px;
  }

  mat-progress-bar{
    height: 7px;
  }

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #B2B2B2;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
  }

  ::ng-deep .mat-progress-bar {
    top: 7px;
    border-radius: 3.5px;
  }

  .btn-califica{
    width: 199px;
    height: 37px;
    padding: 10px 4px 10px 2px;
    background: rgba(0, 102, 153, 0.8);
    border: 1px solid #006699;
    border-radius: 100px;
    font-family: BreeRegular;
    color: #FFFFFF;
  }

  .fechaCom{
    font-family: BreeSerif-Regular;
    font-size: 9px;
    line-height: 24px;
    color: #252A2D;
  }

  .espacio{
    padding-top: 3em;
  }

  .reaction {
    display: flex;
    padding-top: 2em;
  }

  .espaciolike{
    margin-left: 2em;
    /* background-color: #fff!important;
    color: gray !important; */
   }

   .espaciolike2{
    margin-left: 2em;
    /* background-color: #fff!important;
    color: gray !important; */
   }

  .estrellas_cal {
      color: #E6CB3E;
      font-size: 22px;
      margin-top: 10px;
  }

  .estrellas_com {
    color: #E6CB3E;
    font-size: 15px;
    margin-top: 8px;
}

.btnCommentAzul{
  background-color: transparent;
  border: none;
  color: #006699 !important;
  font-size: 1em;
}

.btnCommentGris{
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 1em;
}

.imgCalif {
  width: 15.5px;
  height: 15px;
}